* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #121212;
  color: #fff;
  height: 100vh;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 8px 0;
  width: 250px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#chat-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#chat-header {
  padding: 15px;
  background: #1f1f1f;
  text-align: center;
  font-weight: bold;
}

#chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #181818;
}

.message {
  margin-bottom: 8px;
}

.username {
  font-weight: bold;
}

#chat-input {
  display: flex;
  padding: 10px;
  background: #1f1f1f;
}

#messageInput {
  flex: 1;
  margin-right: 10px;
}
